<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/landing.css">
</head>
<body>
    <section id="landing-section">
        <div id="landing">
            <div id="heading">
                <h1>Stay Committed</h1><br>
                <h3>Track Everything You <span>DO..!</span></h3><br><br>
            </div>
            <div id="log-button">
                <a href="/habit" id="sign-up">Become one..</a>
                <a href="/habit" id="sign-in">I'm one..</a>
            </div>
        </div>

    </section>
    
    
    <script src="/js/landing.js"></script>
</body>
</html>